<!DOCTYPE html>
<html>
    <% include ../partials/head %>
  <body>
    <% include ./nav-admin %>
    <br>
    <br>
    <br>
    <br>

    <div>
    <h1>Administrator Site</h1>
    <ul>
    <li><a href="/admin/add-category">Add Category</a>
    <p>
    <li><a href="/admin/create-fake-product/:categoryName/:categoryID">Create Fake Product</a>
    </ul>
    </div>
    <% include ../partials/footer %>
  </body>
</html>